/* Satrt Global Rules */

/* xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px */

:root {
    --main-font: 'DM Sans', sans-serif;
    --second-font: 'Poppins', sans-serif;
    --blue: #3772FF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas:
        " header header header header header header header header header header header header "
        " main main main main main main main main main main main main "
        "footer footer footer footer footer footer footer footer footer footer footer footer"
    ;
    background-color: #1E1E1E;
    font-family: var(--main-font);
    position: relative;
}

a {
    text-decoration: none;
}

/* End Global Rules */

/* Start Media Query */


@media (max-width: 797px) {
    .header .nav ul {
        display: none;
    }

    .header .nav .menu-icon {
        display: block !important;
    }

    .main .schedule .row-1 {
        flex-wrap: wrap;
        justify-content: center !important;
        align-items: center;
        gap: 2rem;
    }

    .main .schedule .row-1 .title {
        text-align: center;
    }
}

@media (max-width: 992px) {
    .footer .footer-row-1 {
        flex-direction: column;
        gap: 4rem;
    }

    .footer .footer-row-1 .list ul {
        text-align: center;
    }
}

.button {
    background-color: var(--blue);
    font-weight: bold;
    border-radius: 2rem;
    color: #D6D8DC;
}

/* End Media Query */

/* Start Header */
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 8rem;
}

.header a {
    color: #D6D8DC;
}

.header .nav {
    display: flex;
}

.header .nav .menu-icon {
    display: none;
    font-size: 1.5rem;
    color: #D6D8DC;
}

.header nav ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.header .header-btns a {
    padding: .6rem 1.5rem;
}

/* End Header */

/* Start Main */
.main {
    grid-area: main;
    margin: 7rem 0 0 0;
}

.main .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    position: relative;
    padding: 0 4rem;
}

.main .hero .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.main .hero .hero-text p {
    color: #777E90;
    font-weight: 700;
    font-size: 1.07rem;
    line-height: 16px;
}

.main .hero .hero-text h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 48px;
    color: #FCFCFD;
}

/* .main .hero .hero-text svg {
    position: absolute;
    z-index: -1;
    top: 2rem;
    width: 35rem;
    fill: #3772ff80;
} */

.main .hero .hero-text .start {
    margin-top: 2rem;
    padding: .6rem 1.5rem;
}

.main .hero img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
    user-select: none;
}

/* Start Schedule */
.main .schedule {
    display: grid;
    grid-template-areas:
        "row1 row1 row1 row1 row1 row1 row1 row1 row1 row1 row1 row1"
        "cards cards cards cards cards cards cards cards cards cards cards cards"
        "row3 row3 row3 row3 row3 row3 row3 row3 row3 row3 row3 row3"
    ;
    padding: 8.8rem 10rem;
    margin: 3.4rem 0;
    background-color: #1A1A1B;
}

.main .schedule .row-1 {
    grid-area: row1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .schedule .row-1 .title p {
    font-family: var(--second-font);
    color: #777E90;
    font-size: 1.5rem;
    font-weight: 600;
}

.main .schedule .row-1 .title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #FCFCFD;
}

.main .schedule .row-1 .filter p {
    color: #B1B5C3;
    font-size: .75rem;
    font-family: var(--second-font);
    font-weight: 700;
}

.main .schedule .row-1 .filter .select-menu {
    position: relative;
}

.main .schedule .row-1 .filter .select-menu select {
    height: 3rem;
    width: 16rem;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: inset 0px 0px 0px 2px #353945;
    border-radius: 12px;
    color: white;
    font-family: 'Poppins';
    padding: .5rem .5rem .5rem 1rem;
    font-weight: 700;
    border: none;
    outline: none;
    appearance: none;
}

.main .schedule .row-1 .filter .select-menu select option {
    background-color: #141416;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main .schedule .row-1 .filter .custom-arrow {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 3em;
    pointer-events: none;
    border-radius: 0 12px 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .schedule .row-1 .filter .custom-arrow i {
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: inset 0px 0px 0px 2px #353945;
    color: #FCFCFD;
    font-weight: bolder;
    padding: .3rem;
    font-size: 1em;
}

.main .schedule .card-container {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 5rem;
    column-gap: 3rem;
    place-items: center;
    margin-top: 6.25rem;
}

.main .schedule .card-container .card {
    width: 300px;
    text-decoration: none;
}

.main .schedule .card-container .card .card-image img {
    width: 300px;
}

.main .schedule .card-container .card .card-links {
    padding: .2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main .schedule .card-container .card .card-links .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main .schedule .card-container .card .card-links .row1 a {
    color: #FCFCFD;
    font-weight: 500;
    font-size: 16px;
    font-family: var(--second-font);
}

.main .schedule .card-container .card .card-links .row1 span {
    color: #45B26B;
    font-weight: 700;
    font-size: 12px;
    font-family: var(--second-font);
    padding: 2px 4px;
    background: rgba(255, 255, 255, 0.002);
    box-shadow: inset 0px 0px 0px 2px #45B26B;
    border-radius: 4px;
    user-select: none;
    pointer-events: none;
}

.main .schedule .card-container .card .card-links .row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .schedule .card-container .card .card-links .row2 p {
    font-family: var(--second-font);
    color: #E6E8EC;
    font-weight: 400;
    font-size: 14px;
}

.main .schedule .card-container .card .card-links .row3 {
    border-top: 0.8px solid #353945;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .schedule .card-container .card .card-links .row3 a {
    color: #FCFCFD;
    font-weight: 600;
    font-size: 12px;
    font-family: var(--second-font);
}

.main .schedule .card-container .card .card-links .row3 a i {
    color: #777E90;
    font-size: 14px;
    padding-right: 4px;
}

.main .schedule .card-container .card .card-links .row3 span {
    background: #9757D7;
    border-radius: 33px;
    padding: 0.2rem .5rem;
    color: #FCFCFD;
    font-weight: 600;
    font-size: 12px;
    user-select: none;
    pointer-events: none;
}

.main .schedule .card-container .card .card-links .row3 a,
.main .schedule .card-container .card .card-links .row3 span {
    margin-top: 8px;
}

.main .schedule .row-3 {
    grid-area: row3;
    margin-top: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .schedule .row-3 a {
    background: #3772FF;
    border-radius: 24px;
    font-weight: 700;
    font-size: 16px;
    color: #FCFCFD;
    padding: .5rem 2rem;
}

/* End Schedule */

/* End Main */

/* Start Footer */
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 10rem;
    text-decoration: none;
}

.footer .footer-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer .footer-row-1 .list h4 {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 16px;
    color: #FCFCFD;
    font-family: var(--second-font);
}

.footer .footer-row-1 .list ul {
    list-style: none;
}

.footer .footer-row-1 .list ul li {
    margin-top: .5rem;
}

.footer .footer-row-1 .list ul li a {
    font-weight: 700;
    font-size: 14px;
    color: #777E90;
}

.footer .footer-row-1 .news-letter {
    text-align: center;
}

.footer .footer-row-1 .news-letter h3 {
    font-weight: 500;
    font-size: 16px;
    color: #FCFCFD;
    font-family: var(--second-font);
}

.footer .footer-row-1 .news-letter p {
    margin-top: 2rem;
    color: #FCFCFD;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--second-font);

}

.footer .footer-row-1 .news-letter .email-input {
    position: relative;
}

.footer .footer-row-1 .news-letter .email-input input {
    margin-top: 2rem;
    border: 1px solid #353945;
    border-radius: 24px;
    outline: none;
    width: 22rem;
    height: 3rem;
    padding: 0 3rem 0 0.9rem;
    background-color: transparent;
    font-family: var(--second-font);
    color: #FCFCFD;
    font-weight: 500;
}

.footer .footer-row-1 .news-letter .email-input span {
    position: absolute;
    width: 32px;
    height: 32px;
    background: #3772FF;
    border-radius: 16px;
    top: 40px;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer .footer-row-1 .news-letter .email-input span i {
    font-size: 18px;
    color: #FCFCFD;
}

.footer .footer-row-1 .news-letter .email-input input::placeholder {
    color: #fcfcfda9;
    font-weight: 400;
    font-size: 14px;

}

.footer .copyright {
    width: 100%;
    border-top: 0.8px solid #353945;
    margin: 2rem 0 2rem 0;
    text-align: center;
}

.footer .copyright p {
    margin-top: 30px;
    color: #777E90;
    font-weight: 400;
    font-size: 12px;
    font-family: var(--second-font);

}

/* End Footer */

/* Start Login */
.login-container {
    /* display: none !important; */
    width: 52.5rem;
    height: 23.75rem;
    background: #262626;
    box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.4);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .img {
    display: flex;
}

.login-container .login-form {
    height: 100%;
    border-radius: 0 24px 24px 0;
    background-color: #262626;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-container .login-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.625rem;
}

.login-container .login-form label {
    font-weight: 500;
    font-size: 26px;
    color: #FFFFFF;
    margin-bottom: 1.625rem;
}

.login-container .login-form form input {
    width: 21.25rem;
    padding: 0 16px;
    width: 340px;
    height: 48px;
    background: #262626;
    border: 2px solid #4D4D4D;
    border-radius: 8px;
    outline: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    position: relative;
}

.login-container .login-form form .email,
.login-container .login-form form .password {
    position: relative;
}

.login-container .login-form form .email::before {
    content: "Email";
    position: absolute;
    left: 12px;
    top: -7px;
    width: 45px;
    height: 20px;
    z-index: 999;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #262626;
    border-radius: 20px;
}

.login-container .login-form form .password::before {
    content: "Password";
    position: absolute;
    left: 12px;
    top: -7px;
    width: 66px;
    height: 20px;
    z-index: 999;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #262626;
    border-radius: 20px;
}

.login-container .login-form form button {
    background: #2D68FF;
    border: 2px solid #2D68FF;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-family: var(--second-font);
    font-size: 16px;
    padding: 11px 144.359px 13px 143.641px;
    cursor: pointer;
}

.login-container .login-form form a {
    letter-spacing: -0.28px;
    font-weight: 500;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
}

.login-container .login-form form a span {
    color: #FFFFFF;
}

/* End Login */